//- semantics.jade
extends ../includes/base.jade
append navbar
  - var chapter = "Compose"
  - var section = "Semantics"
append content
  .heading.h3
    | Semantic Fields
    a(source-ref="Semantic Field").sourcelink
      i.icon.code
