//- ./includes/navigation.jade
- var nav = { "Compose" : { "link" : "compose_overview", "items": [{ "name" : "Overview", "link" : "compose_overview"} , {"name" : "Semantics", "link" : "semantics"}] }}
