//- ./includes/topbar.jade
.ui.top.sidebar.inverted
  .ui.fixed.top.menu.inverted
    .item.title Buggy Documentation
    .item= chapter
    .item.icon
      i.icon.left.arrow
    .item= section
    .item.icon
      i.icon.right.arrow
