//- ./includes/topbar.jade
input(id='documentation', type='hidden', name='documentation', value='#{documentation}')
block navbar
.ui.top.sidebar.inverted
  .ui.fixed.top.menu.inverted
    .item.title Buggy Documentation
    .item= chapter
    a(href='#').item.icon
      i.icon.left.arrow
    .ui.dropdown.link.item= section
      .menu
        each section in documentation.chapters[chapter].sections
          a(href=section.file + ".html").item= section.name
      script.
        $(".ui.dropdown").dropdown({on: 'hover'});
    a(href='#').item.icon
      i.icon.right.arrow
