//- ./includes/topbar.jade
block navbar
.ui.top.sidebar.inverted
  .ui.fixed.top.menu.inverted
    .item.title Buggy Documentation
    .item= chapter
    a(href='#').item.icon
      i.icon.left.arrow
    .ui.dropdown.link.item= section
      .menu
        each chapter in documentation.chapters
          .header.item.inverted= chapter.name
          each section in chapter.sections
            a(href="../" + chapter.path + "/" + section.file + ".html").item= section.name
    a(href='#').item.icon
      i.icon.right.arrow
